<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>


<h2>Meanings</h2>
<%= render @word.meanings %>


 
<%= link_to 'Edit Word', edit_word_path(@word) %> |
<%= link_to 'Back to Words', words_path %>
